<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Appointment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
  <div class="wrap">
      
    <div class="header">
      <h2>Confirm your appoinment:</h2>
    </div>

    <form action="/confirm/{{schedule.id}}" method="GET" class="confirm">
      
      <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
      <h3>Date: {{ schedule.date }}</h3>
      <h3>Time: {{ schedule.time }}</h3>
      <h3>Description: {{ schedule.description }}</h3>
      <h3>Email: {{ schedule.scheduler.email }}</h3>
      <label for="email_check">Check the box if you want to get an Email</label>
      <input type="checkbox" type="hidden" name="email_check" value="{{ schedule.scheduler.email }}">
      <button type="submit" class="btn btn-success btn-sm">Confirm</button>

    </form>

    <form action="/home" method="GET" class="back_btn">
      <button class="btn btn-secondary btn-sm">Go Back</button>
    </form>

  </div>

</body>
</html>