<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduling Application - Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
    <div class="wrap">

        <h1>Scheduling Application - Login & Registration</h1>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form class="login" action="/login" method="POST">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="form-group">
                {{ log_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <form class="reg" action="/register" method="POST">
            {% csrf_token %}
            <h2>Registration</h2>
            <div class="form-group">
                {{ reg_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</body>
</html>