<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
  <div class="wrap">
      
    <div class="header">
      <h2>Thanks for your appoinment confirmation!!!</h2>
    </div>
    <div class="confirm">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <h3>Date: {{ schedule.date }}</h3>
        <h3>Time: {{ schedule.time }}</h3>
        <h3>Description: {{ schedule.description }}</h3>
    </div>

  </div>

</body>
</html>